<div class="container-flui">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-6">
                    <h1>Trabajemos juntos</h1>

                    <h3>Nombre 
                    </h3>
                    <input type="text" placeholder="Nombre y apellido">
                    <br>
                    <h3>Email</h3>
                    <input type="email" name="" id="" placeholder="ejemplo@correo.com">
                    <br>
                    <h3>Mensaje</h3>
                    <input type="text" name="" id="" placeholder="Escribe tu mensaje aquí">
                </div>
            </div>
        </div>
    </div>
</div>