<div class="container-fluid">

    <div class="row">
        <br>
        <hr>
        <div class="col-12 cont-titulo">
            <h1>Educación</h1>
        </div>
        <div class="col-12">
            <br><hr><br>
            <ul>
                <li>
                    <div class="row">
                        <h1>Título de la certificacion 1</h1>
                        <h2>Conocimientos adquiridos</h2>
                        <h3>Fecha de inicio y estado </h3>
                        <h3><em>Institucion educativa</em></h3>
                    </div>
                </li>
                <li>
                    <div class="row">
                        <h1>Título de la certificacion 2</h1>
                        <h2>Conocimientos adquiridos</h2>
                        <h3>Fecha de inicio y estado </h3>
                        <h3><em>Institucion educativa</em></h3>
                    </div>
                </li>
            </ul>
            <hr>
        </div>
    </div>
</div>
