<div class="container-fluid">

    <div class="row">
        <br>
        <hr>
        <div class="col-12 cont-titulo">
            <h1>Experiencia Laboral</h1>
        </div>
        <div class="col-12">
            <hr>
            <ul>
                <li>
                    <div class="row">
                        <h1>Experiencia 1</h1>
                        <h2>Descripcion de la experiencia</h2>
                        <h3>Fecha de inicio y fecha de finalizacion</h3>
                        <h3><em>Institucion de la experiencia</em></h3>
                    </div>
                </li>
                <li>
                    <div class="row">
                        <h1>Experiencia 2</h1>
                        <h2>Descripcion de la experiencia</h2>
                        <h3>Fecha de inicio y fecha de finalizacion</h3>
                        <h3><em>Institucion de la experiencia</em></h3>
                    </div>
                </li>
            </ul>
            <hr>
        </div>
    </div>
</div>
