<div class="container-fluid">

    <div class="row">
        <br>
        <hr>
        <div class="col-12 cont-titulo">
            <h1>Habilidades blandas</h1>
        </div>
        <div class="col-12">
            <hr>
            <ul>
                <li>
                    <div class="row">
                        <h1>Autogestion del aprendizaje</h1>
                    </div>
                </li>
                <li>
                    <div class="row">
                        <h1>Otra habilidad blanda</h1>
                    </div>
                </li>
            </ul>
            <hr>
        </div>
    </div>
</div>